
  <% if current_user && @uploads%>
    <div class='row'>
      <% @uploads.each do |u| %>
        <div class='col-lg-2'>
        <a href=<%= u.picture.url %> class="thumbnail" >
            <%= image_tag u.picture.url(:medium) %>
        </a>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class='row'>
    <div class='col-lg-2 col-lg-offset-5'>
      <%= link_to 'Upload image', new_upload_path, class: 'btn btn-primary'%>
    </div>
  </div>
&nbsp;
  <div class="jumbotron">
    <div class='row'>
      <div class='col-lg-2'>
        <%= gravatar_tag @user.email, :size => 128 %>
      </div>
      <div class='col-lg-3'>
        <p>
          Email:
          <%= @user.email %>
        </p>
        <p>
          Registered on:
          <%= @user.created_at.to_date %>
        </p>
        <p>
          <%= link_to 'Log out', destroy_user_session_path, class: 'navbar-link', method: 'delete' %>
        </p>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-2'>
        <%= link_to '[Edit information]', edit_user_registration_path %>
      </div>
    </div>
  </div>
